body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    position: relative;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: block;
}

.menu li:hover {
    background-color: #555;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0;
    list-style: none;
    min-width: 150px;
}

.dropdown li {
    width: 100%;
}

.dropdown a {
    padding: 10px 20px;
}

.menu li:hover .dropdown {
    display: block;
}
